[Desktop Entry]
Comment=K3b Project

Type=MimeType
Icon=k3b
MimeType=application/x-k3b
Patterns=*.k3b;
Encoding=UTF-8
X-TDE-AutoEmbed=false

[Property::X-TDE-NativeExtension]
Type=TQString
Value=.k3b
