[Desktop Entry]
Name=K3b Project Info

Type=Service
MimeType=application/x-k3b
PreferredGroups=General
PreferredItems=documenttype
Encoding=UTF-8
X-TDE-ServiceTypes=KFilePlugin
X-TDE-Library=tdefile_k3b
