[Desktop Entry]
Actions=WriteCdImage;
X-TDE-ServiceTypes=application/x-cue

[Desktop Action WriteCdImage]
Name=Write CD Image with K3b...
Exec=k3b --cdimage %F
Icon=k3b
