[Desktop Entry]
Actions=CreateK3bAudioProject;
X-TDE-ServiceTypes=audio/x-mp3,audio/x-vorbis,application/x-ogg,audio/x-mp2,audio/x-mpegurl,audio/x-wav

[Desktop Action CreateK3bAudioProject]
Name=Create Audio CD with K3b...
Exec=k3b --audiocd %F
Icon=k3b
