[Desktop Entry]
Actions=K3bCDCopy;
X-TDE-Priority=TopLevel
X-TDE-ServiceTypes=media/cdrom_unmounted,media/cdwriter_unmounted,media/audiocd

[Desktop Action K3bCDCopy]
Name=Copy CD with K3b
Exec=k3b --copycd %u
Icon=k3b
