[Desktop Entry]
Actions=K3bRip;
X-TDE-Priority=TopLevel
X-TDE-ServiceTypes=media/dvdvideo,media/blurayvideo

[Desktop Action K3bRip]
Name=Rip Video DVD/BLURAY Titles with K3b
Exec=k3b --videodvdrip %u
Icon=k3b
