[Desktop Entry]
Actions=K3bDataProject;
X-TDE-Priority=TopLevel
X-TDE-ServiceTypes=media/blankdvd

[Desktop Action K3bDataProject]
Name=Create Data DVD with K3b...
Exec=k3b --device %u --datadvd
Icon=k3b
