[Desktop Entry]
Actions=CreateK3bVcdProject;
X-TDE-ServiceTypes=video/mpeg

[Desktop Action CreateK3bVcdProject]
Name=Create Video CD with K3b...
Exec=k3b --videocd %F
Icon=k3b
