[Desktop Entry]
Actions=K3bRip;
X-TDE-Priority=TopLevel
X-TDE-ServiceTypes=media/audiocd,media/mixedcd

[Desktop Action K3bRip]
Name=Extract Digital Audio with K3b
Exec=k3b --cddarip %u
Icon=k3b
