[Desktop Entry]
Actions=CreateK3bDataCDProject;
X-TDE-ServiceTypes=all/allfiles,inode/directory
X-TDE-ExcludeServiceTypes=application/x-iso,kdedevice/*

[Desktop Action CreateK3bDataCDProject]
Name=Create Data CD with K3b...
Exec=k3b --datacd %F
Icon=k3b
