[Desktop Entry]
Actions=K3bDataProject;K3bAudioCDProject;
X-TDE-Priority=TopLevel
X-TDE-ServiceTypes=media/blankcd

[Desktop Action K3bDataProject]
Name=Create Data CD with K3b...
Exec=k3b --device %u --datacd
Icon=k3b

[Desktop Action K3bAudioCDProject]
Name=Create Audio CD with K3b...
Exec=k3b --device %u --audiocd
Icon=k3b
