[Desktop Entry]
Actions=WriteCdImage;
X-TDE-ServiceTypes=application/x-iso,inode/ISO-image

[Desktop Action WriteCdImage]
Name=Write CD or DVD Image with K3b...
Exec=k3b --image %F
Icon=k3b
