[Desktop Entry]
Actions=K3bDVDCopy;
X-TDE-Priority=TopLevel
X-TDE-ServiceTypes=media/dvdrom_unmounted,media/dvdwriter_unmounted,media/dvdvideo,media/blurayvideo

[Desktop Action K3bDVDCopy]
Name=Copy DVD/BLURAY with K3b
Exec=k3b --copydvd %u
Icon=k3b
