[Desktop Entry]
Actions=CreateK3bDataDVDProject
X-TDE-ServiceTypes=all/allfiles,inode/directory
X-TDE-ExcludeServiceTypes=application/x-iso

[Desktop Action CreateK3bDataDVDProject]
Name=Create Data DVD with K3b...
Exec=k3b --datadvd %F
Icon=k3b
