[Desktop Entry]
Name=Video DVD Browser

Type=Link
Icon=media-optical-dvd-unmounted
URL=videodvd:/
Open=false
Encoding=UTF-8
X-TDE-TreeModule=Directory
X-TDE-KonqSidebarModule=konqsidebar_tree
