[Desktop Entry]
Name=K3bSetup

GenericName=CD & DVD Burning Setup

Comment=K3bSetup 2 - modify permission for CD/DVD burning with K3b

Keywords=K3bSetup2;k3bsetup2;

Type=Application
Icon=k3b
Exec=k3bsetup
Terminal=false
Encoding=UTF-8
Categories=Application;System;X-TDE-System;
X-DocPath=k3b/index.html#pre-setup
X-TDE-FactoryName=k3bsetup2
X-TDE-Library=k3bsetup2
X-TDE-ModuleType=Library
X-TDE-RootOnly=true
