[Desktop Entry]
Name=K3b

GenericName=CD & DVD Burning

Comment=CD writing program

Type=Application
Exec=k3b %U
Icon=k3b
Terminal=false
Categories=TDE;Application;AudioVideo;DiscBurning;
MimeType=application/x-k3b;application/x-iso;application/x-cue
X-DocPath=k3b/index.html
X-DCOP-ServiceType=Unique
X-TDE-StartupNotify=true
X-TDE-NativeMimeType=application/x-k3b;application/x-iso;application/x-cue
